.product_card_image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product_card_image {
  margin-bottom: 8px;
}

.product_card {
  color: #141718;
  text-align: left;
  min-width: 200px;
  width: calc(33% - 16px);
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff;
  padding-bottom: 5px;
}

.product_card:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product_card_info {
  padding-left: 5px;
}
@media (max-width: 900px) {
  .product_card {
    width: calc(50% - 16px);
  }
}

@media (max-width: 650px) {
  .product_card {
    width: calc(50% - 16px);
    width: 100%;
  }
}

.product_card_title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.product_card_price_container {
  font-size: 14px;
  font-weight: 500;
}

.line_through {
  text-decoration: line-through;
  color: #6c7275;
}

.discont_price {
  margin-right: 12px;
}
