.about_card_image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about_card_image {
  margin-bottom: 8px;
}

.about_card {
  display: flex;
  flex-direction: column;
  color: #141718;
  min-width: 200px;
  max-width: 400px;
  transition: 0.3s;
  background-color: #fff;
  padding-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.about_card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about_card_info {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 900px) {
  .about_card {
    width: calc(50% - 16px);
  }
}

@media (max-width: 650px) {
  .about_card {
    width: calc(50% - 16px);
    width: 100%;
  }
}

.about_card_title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  align-content: center;
}

.about_card_description {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.gh_icon {
  cursor: pointer;
}
