.hero_container {
  position: relative;
  width: 100%;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_image {
  width: 100%;
  height: auto;
  display: block;
}

.hero_text {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00aaff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 10px #00aaff;
  text-align: center;
  width: 100%;
  @media (width < 675px) {
    position: static;
    transform: translate(0, 0);
    width: 350px;
  }
}

.p {
  font-size: 1.2rem;
}
